<div class="content-wrapper">

The <span style="bold">Southwest Columbus Ham Radio Club</span> operates a different kind of repeater and you're invited!

While this repeater has been on the air for over 30 years, its home to a small and friendly group of hams. Activity in the Club is as varied as the hobby of Amateur Radio itself and it doesn't matter if your new to amateur radio or an old timer, you will find others that share the same interest as you. We encourage you to be active and perhaps you will learn something new as well.

<ul>
  <li>We meet the first Saturday of the month for breakfast.</li>
  <li>Our informational net is Thursdays at 8:30 pm EST.</li>
  <li>We participate in the ARRL field day in June as well as Winter Field Day in January.</li>
  <li>We encourage members to get together and help other hams who may need help with installing antennas or with setting up their home stations.</li>
  <li>If you are studying for your license, please feel free to ask us any questions that you may have.</li>
</ul>

<a class="btn blue" href="https://nebula.wsimg.com/8c2e8667edfca1f60ec149fefcab303b?AccessKeyId=99E7700D3ED26ABFEAE4&disposition=0&alloworigin=1">QST article about the SWCHRC</a>

<div>Club Email: <a href="mailto:swchrc@gmail.com">swchrc@gmail.com</a></div>

<div class="columns">
  <div class="column">
    <div class="header">Thursday Night Nets</div>
    <div class="header sub">145.23- on the WB8MMR Repeater</div>

<ul>
  <li>Check in with us at 8:30 p.m.</li>
  <li>Calvin N8RFY runs the net.</li>
  <li>You do not need to be a member to check in and club members are encouraged to be control operators.</li>
  <li>We have an informal 10 meter net Thursdays at 8:00 pm EST on **28.405**, shortly before the start of the 2 meter net, drop in and introduce yourself.</li>
</ul>

<a class="btn green wide" href="https://media.swchrc.com/swchrc-membership-application.pdf" target="_blank">Join the Club!</a>

<a class="btn blue wide" href="https://media.swchrc.com/swchrc-preamble.pdf" target="_blank">Club Preamble</a>

<a class="btn green wide" href="https://media.swchrc.com/swchrc-area-nets-compressed.pdf" target="_blank">Area Nets</a>

<a class="btn blue wide" href="http://arrl-ohio.org/" target="_blank">ARRL Ohio Section</a>

<div class="center">
  <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!">
  <img src="https://www.hamqsl.com/solar101pic.php" alt="Solar Report Data">
  </a>
</div>

</div>
    <div class="column">
      <div class="header">Club Meetings</div>

      <ul>
        <li>Club meetings are on the third Saturday of every odd month at 2:00 pm EST.</li>
        <li>They are held at Southwest Public Libraries: Grove City Library: 3959 Broadway, Grove City, OH 43123, USA</li>
      </ul>

      <div class="box">
        <div class="peanut">Ham and Eggs</div>
        <div>Breakfast 8:30 am EST on the First Saturday of each month.</div>
        <hr/>
        <img src="/_images/swchrc-at-tjs.webp" alt="SWHRC at TJs" />
        <hr/>
        <div>Tee Jaye's Country Place</div>
        <div>4048 W Broad St Columbus, OH 43228</div>
      </div>

      <div class="header">Your Club's Officers</div>

      <li><span style="bold">KE8JWC</span> President</li>
      <li><span style="bold">KD8WQU</span> Secretary</li>
      <li><span style="bold">K8YMG</span> First VP</li>

    </div>
  </div>

</div>
