body {
  overflow-y: scroll;
}

.footer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/* Fonts */
@font-face {
  font-family: 'SuperPeanut';
  src: url('/assets/SuperPeanut.ttf');
}

/* Navigation */
.header-outer-wrapper {
  position: relative;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;

  .header-title {
    color: yellow;
    text-align: center;
  }
}

.menu-toggle {
  display: none;
}

.navigation-menu {
  display: block;
  font-family: Arial, Helvetica, sans-serif;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;

    a {
      display: block;
      padding: 1em;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: #555;
      }
    }
  }
}

.link {

  &.selected {
    color: yellow;
    background-color: #777;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .wrapper {
    &.active {
      .navigation-menu {
        display: flex;
        flex-direction: column;
      }
    }
    &:not(.active) {
      .navigation-menu {
        display: none;
      }
    }
  }
  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-menu {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2em;
    width: 100%;

    ul {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      li {
        width: 100%;
      }

      a {
        padding: 0.75em;
        width: calc(100% - 1.5em);
      }
    }
  }
}

/* Content */
.header-image-wrapper {
  max-width: 1000px;
  
  .header-image {
    width: 100%;
    height: auto;
  }
}
.wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    background-color: lightblue;
    padding: 1em 2em 3em 2em;
    min-height: calc(100vh - 0px);
    margin-top: 1em;

    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
  }
}

input[type="text"] {
  padding: 0.5em 1.25em;
  margin: 0.5em 0;
  display: inline-block;
  border: 2px solid #f0f8ff;
  border-radius: 0.25em;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
  width: 50%;
  margin-right: 1em;

  &:focus {
    border: 2px solid #4CAF50;
    outline: none;
  }
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1.25em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  margin-right: 0.5em;
}

@media (max-width: 769px) {
  input[type="text"] {
    width: 100%;
  }
}

.box {
  padding: 1em;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.peanut {
  font-family: 'SuperPeanut';
  font-size: 2em;
  color: orange;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons */
.btn {
  display: flex;
  padding: 10px 20px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  &:not(.small-text) {
    font-size: 1em;
  }
  &.small-text {
    font-size: 0.85em;
  }

  &.blue {
    background-color: blue;
    color: white
  }
  &.green {
    background-color: green;
    color: white;
  }
  &.purple {
    background-color: #5f00bf;
    color: white;
  }
  &.red {
    background-color: red;
    color: white
  }

  &.wide {
    width: 100%;
  }
}

/* Headers */
.header {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  &.orange {
    color: orange;
    margin-top: 0 !important;
    margin-bottom: 0.5em;
  }

  &:not(.sub) {
    font-size: 1.5em;
    margin-top: 1em;
  }

  &.sub {
    font-size: 1.1em;
  }
}

/* Columns */
.columns,
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0.5em;
}
.two-column {
  margin-top: 1em;
}
.four-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 1em;
  margin-top: 0.5em;
}

@media (max-width: 768px) {
  .columns,
  .two-column,
  .four-column {
    grid-template-columns: 1fr;
  }
}

.link-wrapper {
  box-sizing: border-box;
  padding: 0 1em;
}
