<html>
  <head>
    <title>SWHRC</title>
    <link rel="stylesheet" type="text/css" href="index.css?v=" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      {% include "header.html" %}
      {% include "home.html" %}
      {% include 'footer.html' %}
    </div>
  </body>
</html>