<div class="content-wrapper">
  <article>
    <p>The <span class="bold">Southwest Columbus Ham Radio Club</span> operates a different kind of repeater and you're invited!</p>
    <p>While this repeater has been on the air for over 30 years, its home to a small and friendly group of hams. Activity in the Club is as varied as the hobby of Amateur Radio itself and it doesn't matter if your new to amateur radio or an old timer, you will find others that share the same interest as you. We encourage you to be active and perhaps you will learn something new as well.</p>
    <ul>
      <li>We meet the first Saturday of the month for breakfast.</li>
      <li>Our informational net is Thursdays at 8:30pm.</li> <li>We participate in the ARRL field day in June as well as Winter Field Day in January.</li> 
      <li>We encourage members to get together and help other hams who may need help with installing antennas or with setting up their home stations.</li>
      <li>If you are studying for your license, please feel free to ask us any questions that you may have.</li>
    </ul>
  </article>
</div>
