<html>
  <head>
    <title>SWHRC</title>
    <link rel="stylesheet" type="text/css" href="../index.css?v=" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      {% include "header.html" %}

      <div class="content-wrapper">
        <div class="box-container">
          <span class="box-wrapper">
            <img src="https://media.swchrc.com/swhrc-project-N8TFC-2m-window-antenna.webp" alt="N8TFC 2m Window Antenna" />
          </span>
        </div>
      </div>

      {% include 'footer.html' %}
    </div>

  </body>
</html>