<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      {% include "banner.html" %}

      <div class="content-wrapper">
        <div class="box-container">
          <span class="box-wrapper">
            <img src="https://media.swchrc.com/swchrc-project-N8TFC-2m-window-antenna.webp" alt="N8TFC 2m Window Antenna" />
          </span>
        </div>
      </div>

      {% include 'footer.html' %}
    </div>

  </body>
</html>