<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      {% include "banner.html" %}

      <div class="content-wrapper">
        <div class="header gap">Silent Keys</div>
        <div class="two-column-wrapper">
          <div>
            {% for item in silentkeys.left %}
              <img src="{{ item.src }}" alt="{{ item.alt }}" />
            {% endfor %}
          </div>
          <div>
            {% for item in silentkeys.right %}
              <img src="{{ item.src }}" alt="{{ item.alt }}" />
            {% endfor %}
          </div>
        </div>
      </div>

      {% include 'footer.html' %}
    </div>

  </body>
</html>